[submodule "MaddsSwifts"]
	path = Vendor/SwiftAdditions
	url = https://github.com/MaddTheSane/SwiftMacTypes.git
[submodule "Vendor/ForkView"]
	path = Vendor/ForkView
	url = https://github.com/MaddTheSane/ForkView.git
[submodule "Vendor/MASPreferences"]
	path = Vendor/MASPreferences
	url = https://github.com/MaddTheSane/MASPreferences.git
