* text=auto
*.m text diff=objc eol=lf
*.h text diff=objc
*.c text
*.cpp text
*.swift text diff=swift eol=lf

*.pbxproj eol=lf

Examples/PPPlay/Read.TXT text=crlf

*.pdf binary
*.gif binary
*.jpg binary
*.png binary
