**/build/
**/.DS_Store
*xcuserdata
PlayerPROCore.opensdf
PlayerPROCore.sdf
Debug
Release
*.vcxproj.user
ipch
**/*vers.plist
PlayerPROCore.suo
**/project.xcworkspace

**~

**/CMakeCache.txt
**/Makefile
**/CMakeFiles
**/cmake_install.cmake
MADDriver.source/libPlayerPROCore*
**/lib*.so

Examples/PPPlay/PPPlay
Examples/PPPlay/PPPlay.exe
*.playground/
