build
*.DS_Store
*xcuserdata
PlayerPROCore.opensdf
PlayerPROCore.sdf
Debug
Release
*.vcxproj.user
ipch
**/*vers.plist
PlayerPROCore.suo
**/project.xcworkspace

**~

*/CMakeCache.txt
*/Makefile
*/CMakeFiles
*/cmake_install.cmake
