<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.playerpro.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>SNPL</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFPlugInDynamicRegistration</key>
	<false/>
	<key>CFPlugInFactories</key>
	<dict>
		<key>DA609751-C4B0-4814-BAE7-2B82CA59E64E</key>
		<string>EchoFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>158FF33B-47F4-4497-9292-1B544E8C2B01</key>
		<array>
			<string>DA609751-C4B0-4814-BAE7-2B82CA59E64E</string>
		</array>
	</dict>
	<key>CSResourcesFileMapped</key>
	<string>yes</string>
	<key>MADPlugMenuName</key>
	<string>Echo</string>
</dict>
</plist>
