<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.playerpro.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>SNPL</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>MADPlugAuthorName</key>
	<string>Written by A.ROSSET 95</string>
	<key>MADPlugMenuName</key>
	<string>MADfg</string>
	<key>MADPlugMode</key>
	<string>IMPL</string>
	<key>MADPlugType</key>
	<string>MADF</string>
	<key>MADPlugUTITypes</key>
	<array>
		<string>com.quadmation.playerpro.madfg</string>
	</array>
</dict>
</plist>
