<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.playerpro.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>SNPL</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFPlugInDynamicRegistration</key>
	<false/>
	<key>CFPlugInFactories</key>
	<dict>
		<key>9DC5E4B1-F2E1-4D6E-963F-700B9CC245FB</key>
		<string>MADIFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>9415E357-0ED2-4F9F-9CA1-B7280C27F59B</key>
		<array>
			<string>9DC5E4B1-F2E1-4D6E-963F-700B9CC245FB</string>
		</array>
	</dict>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
