<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.playerpro.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>SNPL</string>
	<key>MADCanImport</key>
	<true/>
	<key>MADCanExport</key>
	<true/>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>CFPlugInDynamicRegistration</key>
	<false/>
	<key>CFPlugInFactories</key>
	<dict>
		<key>9C897935-C00B-4AAC-81D6-E43049E3A8E0</key>
		<string>MINsFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>FD7154D6-20BF-4007-881B-8E44970C3B0A</key>
		<array>
			<string>9C897935-C00B-4AAC-81D6-E43049E3A8E0</string>
		</array>
	</dict>
	<key>CSResourcesFileMapped</key>
	<string>yes</string>
	<key>MADPlugUTITypes</key>
	<array>
		<string>net.sourceforge.playerpro.mins</string>
	</array>
	<key>MADPlugMode</key>
	<string>EXIM</string>
	<key>MADPlugMenuName</key>
	<string>PP Instrument</string>
	<key>MADPlugType</key>
	<string>MINs</string>
	<key>MADPlugAuthorName</key>
	<string>Copyright 2000 Antoine ROSSET</string>
	<key>MADPlugIsSample</key>
	<false/>
</dict>
</plist>
