<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.playerpro.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>SNPL</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>CFPlugInDynamicRegistration</key>
	<false/>
	<key>CFPlugInFactories</key>
	<dict>
		<key>D54EE3CC-B94C-4245-9E82-2F1D65C0009D</key>
		<string>PATFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>FD7154D6-20BF-4007-881B-8E44970C3B0A</key>
		<array>
			<string>D54EE3CC-B94C-4245-9E82-2F1D65C0009D</string>
		</array>
	</dict>
	<key>CSResourcesFileMapped</key>
	<string>yes</string>
	<key>MADPlugAuthorName</key>
	<string>Copyright 99 Antoine ROSSET</string>
	<key>MADCanImport</key>
	<true/>
	<key>MADCanExport</key>
	<false/>
	<key>MADPlugIsSample</key>
	<false/>
	<key>MADPlugMenuName</key>
	<string>PAT</string>
	<key>MADPlugMode</key>
	<string>IMPL</string>
	<key>MADPlugType</key>
	<string>PAT </string>
	<key>MADPlugUTITypes</key>
	<array>
		<string>net.sourceforge.playerpro.pat</string>
	</array>
</dict>
</plist>
