<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.playerpro.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>SNPL</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFPlugInDynamicRegistration</key>
	<false/>
	<key>CFPlugInFactories</key>
	<dict>
		<key>7ED00DF2-DA2B-4ACB-AF6E-5430E979D55F</key>
		<string>PropagateFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>E9AFFD6D-B98B-40D2-8CC2-BF7404EFAA51</key>
		<array>
			<string>7ED00DF2-DA2B-4ACB-AF6E-5430E979D55F</string>
		</array>
	</dict>
	<key>MADPlugMenuName</key>
	<string>Propagate</string>
</dict>
</plist>
