<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.playerpro.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>SNPL</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFPlugInDynamicRegistration</key>
	<false/>
	<key>CFPlugInFactories</key>
	<dict>
		<key>26E9A321-0E15-48E3-8A94-062C46FDB875</key>
		<string>QTInstFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>0B3A4673-9118-467E-A496-846F5E1C9276</key>
		<array>
			<string>26E9A321-0E15-48E3-8A94-062C46FDB875</string>
		</array>
	</dict>
	<key>MADPlugAuthorName</key>
	<string>Copyright 99 Antoine ROSSET</string>
	<key>MADPlugIsSample</key>
	<true/>
	<key>MADPlugMenuName</key>
	<string>Quicktime Movie</string>
	<key>MADPlugMode</key>
	<string>IMPL</string>
	<key>MADPlugType</key>
	<string>MooV</string>
	<key>MADPlugUTITypes</key>
	<array>
		<string>public.aiff-audio</string>
		<string>com.apple.quicktime-movie</string>
		<string>public.mpeg</string>
		<string>public.mpeg-2-video</string>
		<string>public.mpeg-4</string>
		<string>public.avi</string>
		<string>public.audio</string>
		<string>public.mpeg-4-audio</string>
		<string>com.apple.protected-mpeg-4-audio</string>
		<string>public.mp3</string>
		<string>public.ulaw-audio</string>
		<string>public.au-audio</string>
		<string>public.aifc-audio</string>
		<string>com.apple.coreaudio-format</string>
		<string>org.3gpp.adaptive-multi-rate-audio</string>
		<string>com.digidesign.sd2-audio</string>
	</array>
</dict>
</plist>
