<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.playerpro.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>SNPL</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFPlugInDynamicRegistration</key>
	<false/>
	<key>CFPlugInFactories</key>
	<dict>
		<key>F303D78E-41F6-41EB-B18B-F7FC8B967AD2</key>
		<string>WaveFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>0B3A4673-9118-467E-A496-846F5E1C9276</key>
		<array>
			<string>F303D78E-41F6-41EB-B18B-F7FC8B967AD2</string>
		</array>
	</dict>
	<key>MADPlugUTITypes</key>
	<array>
		<string>com.microsoft.waveform-audio</string>
	</array>
	<key>MADPlugMode</key>
	<string>IMPL</string>
	<key>MADPlugMenuName</key>
	<string>Wave</string>
	<key>MADPlugType</key>
	<string>WAVE</string>
	<key>MADPlugAuthorName</key>
	<string>Copyright 96 Antoine ROSSET</string>
	<key>MADPlugIsSample</key>
	<true/>
</dict>
</plist>
