//
//  PPCPlugs.xcconfig
//  PPMacho
//
//  Created by C.W. Betts on 9/18/13.
//
//

#include "Universal.xcconfig"
INFOPLIST_FILE = ${PRODUCT_NAME}-Info.plist
GENERATE_PKGINFO_FILE = YES
SKIP_INSTALL = YES
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
EXPORTED_SYMBOLS_FILE = MADDriver.source/MADDriver.Source/Import-Export/PlugExports-Mac.exp
WRAPPER_EXTENSION = ppimpexp
