<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.playerpro.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>SNPL</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>CFPlugInDynamicRegistration</key>
	<false/>
	<key>CFPlugInFactories</key>
	<dict>
		<key>C4B85FAC-BD58-4661-9004-CBBF84BA4EDD</key>
		<string>AIFFFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>FD7154D6-20BF-4007-881B-8E44970C3B0A</key>
		<array>
			<string>C4B85FAC-BD58-4661-9004-CBBF84BA4EDD</string>
		</array>
	</dict>
	<key>MADPlugAuthorName</key>
	<string>C.W. &quot;Madd the Sane&quot; Betts</string>
	<key>MADPlugMenuName</key>
	<string>AIFF</string>
	<key>MADPlugType</key>
	<string>AIFF</string>
	<key>MADPlugUTITypes</key>
	<array>
		<string>public.aiff-audio</string>
		<string>public.aifc-audio</string>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014, Charles &quot;Madd the Sane&quot; Betts, Sourceforge</string>
	<key>NSPrincipalClass</key>
	<string>${PRODUCT_MODULE_NAME}.AIFFSamplePlug</string>
</dict>
</plist>
