<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>SNPL</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>MADCanExport</key>
	<false/>
	<key>MADCanImport</key>
	<true/>
	<key>MADPlugAuthorName</key>
	<string>Antoine ROSSET</string>
	<key>MADPlugMenuName</key>
	<string>PlayerPRO MADH Tracker</string>
	<key>MADPlugType</key>
	<string>MADH</string>
	<key>MADPlugUTITypes</key>
	<array>
		<string>com.quadmation.playerpro.madh</string>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>Written by A.ROSSET © 1998</string>
</dict>
</plist>
