<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.playerpro.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>SNPL</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFPlugInDynamicRegistration</key>
	<false/>
	<key>CFPlugInFactories</key>
	<dict>
		<key>E993EFD8-0C3F-46F6-9063-6E340C179D88</key>
		<string>AMFFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>84F80109-2885-4E01-8FFA-88AC75F3E033</key>
		<array>
			<string>E993EFD8-0C3F-46F6-9063-6E340C179D88</string>
		</array>
	</dict>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>MADPlugMenuName</key>
	<string>AMF</string>
	<key>MADPlugAuthorName</key>
	<string>Written by A.ROSSET 96</string>
	<key>MADPlugType</key>
	<string>AMF </string>
	<key>MADPlugUTITypes</key>
	<array>
		<string>net.sourceforge.playerpro.amf</string>
	</array>
	<key>MADPlugMode</key>
	<string>EXIM</string>
</dict>
</plist>
