<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.playerpro.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>SNPL</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFPlugInDynamicRegistration</key>
	<false/>
	<key>CFPlugInFactories</key>
	<dict>
		<key>AE796F78-C31E-47B2-B86D-42EA6474B674</key>
		<string>MixFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>79EA82AD-5A53-46AF-82A9-4A0685B4588C</key>
		<array>
			<string>AE796F78-C31E-47B2-B86D-42EA6474B674</string>
		</array>
	</dict>
	<key>MADPlugMenuName</key>
	<string>Mix</string>
	<key>NSPrincipalClass</key>
	<string>MixWindowController</string>
</dict>
</plist>
