<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.quadmation.playerpro.madk</string>
				<string>net.sourceforge.playerpro.mad-bundle</string>
				<string>com.quadmation.playerpro.mad</string>
				<string>net.sourceforge.playerpro.tracker</string>
				<string>com.quadmation.playerpro.madh</string>
				<string>com.quadmation.playerpro.madi</string>
				<string>com.quadmation.playerpro.madfg</string>
				<string>net.sourceforge.playerpro.mod</string>
				<string>net.sourceforge.playerpro.669</string>
				<string>net.sourceforge.playerpro.s3m</string>
				<string>net.sourceforge.playerpro.ult</string>
				<string>net.sourceforge.playerpro.xm</string>
				<string>net.sourceforge.playerpro.okta</string>
				<string>net.sourceforge.playerpro.it</string>
				<string>net.sourceforge.playerpro.mtm</string>
				<string>net.sourceforge.playerpro.amf</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.playerpro.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<false/>
	<key>CFPlugInFactories</key>
	<dict>
		<key>EE72471B-58E4-4D22-8032-5013B453556D</key>
		<string>QuickLookGeneratorPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>EE72471B-58E4-4D22-8032-5013B453556D</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>QLNeedsToBeRunInMainThread</key>
	<false/>
	<key>QLPreviewHeight</key>
	<real>600</real>
	<key>QLPreviewWidth</key>
	<real>800</real>
	<key>QLSupportsConcurrentRequests</key>
	<false/>
	<key>QLThumbnailMinimumSize</key>
	<real>17</real>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.quadmation.playerpro.mad</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PlayerPRO Tracker (Bundle)</string>
			<key>UTTypeIconFile</key>
			<string>MAD</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.playerpro.mad-bundle</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>madbundle</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Music Tracker</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.playerpro.tracker</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.playerpro.tracker</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PlayerPRO MAD tracker</string>
			<key>UTTypeIdentifier</key>
			<string>com.quadmation.playerpro.mad</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mad</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/x-mad</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.quadmation.playerpro.mad</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PlayerPRO MADK Tracker</string>
			<key>UTTypeIdentifier</key>
			<string>com.quadmation.playerpro.madk</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>MADK</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>madk</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.quadmation.playerpro.mad</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PlayerPRO MADH Tracker</string>
			<key>UTTypeIdentifier</key>
			<string>com.quadmation.playerpro.madh</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>MADH</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>madh</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.quadmation.playerpro.mad</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PlayerPRO MAD-FG Tracker</string>
			<key>UTTypeIdentifier</key>
			<string>com.quadmation.playerpro.madfg</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>MADF</string>
					<string>MADG</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>madf</string>
					<string>madg</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>com.quadmation.playerpro.mad</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PlayerPRO MADI Tracker</string>
			<key>UTTypeIdentifier</key>
			<string>com.quadmation.playerpro.madi</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>MADI</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>madi</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.bundle</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PlayerPRO Import-Export Bundle</string>
			<key>UTTypeIconFile</key>
			<string>Bundle</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.playerpro.ppimpexp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ppimpexp</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>net.sourceforge.playerpro.tracker</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ProTracker MOD File</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.playerpro.mod</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>STrk</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>mod</string>
					<string>strk</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/mod</string>
					<string>audio/x-mod</string>
					<string>audio/module-mod</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>net.sourceforge.playerpro.tracker</string>
			</array>
			<key>UTTypeDescription</key>
			<string>669 Tracker</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.playerpro.669</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>6669</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>669</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>net.sourceforge.playerpro.tracker</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AMF Tracker</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.playerpro.amf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>AMF </string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>amf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>net.sourceforge.playerpro.tracker</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ImpulseTracker File</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.playerpro.it</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>IT  </string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>it</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>net.sourceforge.playerpro.tracker</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MTM Tracker</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.playerpro.mtm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>MTM </string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>mtm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>net.sourceforge.playerpro.tracker</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OKTAmed Tracker</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.playerpro.okta</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>OKTA</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>okta</string>
					<string>okt</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>net.sourceforge.playerpro.tracker</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ScreamTracker Tracker</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.playerpro.s3m</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>S3M </string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>s3m</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
				<string>net.sourceforge.playerpro.tracker</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ULT Tracker</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.playerpro.ult</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>ULT </string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>ult</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.playerpro.tracker</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>FastTracker Tracker</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.playerpro.xm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>XM  </string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>xm</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
