<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.playerpro.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>SNPL</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFPlugInDynamicRegistration</key>
	<false/>
	<key>CFPlugInFactories</key>
	<dict>
		<key>CC42BFBF-419A-4CCB-9DC7-49A0A702FD0B</key>
		<string>LengthFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>79EA82AD-5A53-46AF-82A9-4A0685B4588C</key>
		<array>
			<string>CC42BFBF-419A-4CCB-9DC7-49A0A702FD0B</string>
		</array>
	</dict>
	<key>MADPlugMenuName</key>
	<string>Length</string>
	<key>NSPrincipalClass</key>
	<string>LengthWindowController</string>
</dict>
</plist>
