<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mod</string>
				<string>strk</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MOD</string>
			<key>CFBundleTypeName</key>
			<string>PPMODFile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>STrk</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.playerpro.mod</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>madk</string>
				<string>mad</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MAD</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-mad</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PPMADKFile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MADK</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.quadmation.playerpro.madk</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PPMADKFile</string>
			<key>UTTypeIdentifier</key>
			<string>com.quadmation.playerpro.madk</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>MADK</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>madk</string>
					<string>mad</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/x-mad</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PPMODFile</string>
			<key>UTTypeIconFile</key>
			<string>MOD.icns</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.playerpro.mod</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>STrk</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>mod</string>
					<string>strk</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/mod</string>
					<string>audio/x-mod</string>
					<string>audio/module-mod</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
