<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.playerpro.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>SNPL</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>CFPlugInDynamicRegistration</key>
	<false/>
	<key>CFPlugInFactories</key>
	<dict>
		<key>96F7A141-84CF-4CEE-9FC9-11BFF33F6626</key>
		<string>MacsndFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>FD7154D6-20BF-4007-881B-8E44970C3B0A</key>
		<array>
			<string>96F7A141-84CF-4CEE-9FC9-11BFF33F6626</string>
		</array>
	</dict>
	<key>MADCanExport</key>
	<false/>
	<key>MADCanImport</key>
	<true/>
	<key>MADPlugAuthorName</key>
	<string>Antoine ROSSET</string>
	<key>MADPlugIsSample</key>
	<true/>
	<key>MADPlugMenuName</key>
	<string>Mac Classic Sound</string>
	<key>MADPlugType</key>
	<string>snd </string>
	<key>MADPlugUTITypes</key>
	<array>
		<string>net.sourceforge.playerpro.oldmacsnd_Audio</string>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright @ 1996 Antoine ROSSET</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.playerpro.oldmacsnd_Audio</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>snd </string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
