<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Attributes</key>
	<dict>
		<key>net_sourceforge_playerpro_tracker_instumentlist</key>
		<dict>
			<key>multivalued</key>
			<true/>
			<key>name</key>
			<string>net_sourceforge_playerpro_tracker_instumentlist</string>
			<key>type</key>
			<string>CFString</string>
		</dict>
		<key>net_sourceforge_playerpro_tracker_patternlist</key>
		<dict>
			<key>multivalued</key>
			<true/>
			<key>name</key>
			<string>net_sourceforge_playerpro_tracker_patternlist</string>
			<key>type</key>
			<string>CFString</string>
		</dict>
		<key>net_sourceforge_playerpro_tracker_totalpatterns</key>
		<dict>
			<key>name</key>
			<string>net_sourceforge_playerpro_tracker_totalpatterns</string>
			<key>type</key>
			<string>CFNumber</string>
			<key>multivalued</key>
			<false/>
			<key>nosearch</key>
			<true/>
		</dict>
		<key>net_sourceforge_playerpro_tracker_partitionlength</key>
		<dict>
			<key>name</key>
			<string>net_sourceforge_playerpro_tracker_partitionlength</string>
			<key>type</key>
			<string>CFNumber</string>
			<key>multivalued</key>
			<false/>
			<key>nosearch</key>
			<true/>
		</dict>
		<key>net_sourceforge_playerpro_tracker_totalinstruments</key>
		<dict>
			<key>name</key>
			<string>net_sourceforge_playerpro_tracker_totalinstruments</string>
			<key>type</key>
			<string>CFNumber</string>
			<key>multivalued</key>
			<false/>
			<key>nosearch</key>
			<true/>
		</dict>
		<key>net_sourceforge_playerpro_tracker_totaltracks</key>
		<dict>
			<key>name</key>
			<string>net_sourceforge_playerpro_tracker_totaltracks</string>
			<key>type</key>
			<string>CFNumber</string>
			<key>multivalued</key>
			<false/>
			<key>nosearch</key>
			<true/>
		</dict>
		<key>net_sourceforge_playerpro_tracker_formatdescription</key>
		<dict>
			<key>name</key>
			<string>net_sourceforge_playerpro_tracker_formatdescription</string>
			<key>type</key>
			<string>CFString</string>
			<key>multivalued</key>
			<false/>
			<key>nosearch</key>
			<true/>
		</dict>
	</dict>
	<key>Types</key>
	<dict>
		<key>net.sourceforge.playerpro.tracker</key>
		<dict>
			<key>name</key>
			<string>net.sourceforge.playerpro.tracker</string>
			<key>allattrs</key>
			<array>
				<string>kMDItemTitle</string>
				<string>kMDItemDurationSeconds</string>
				<string>kMDItemCodecs</string>
				<string>net_sourceforge_playerpro_tracker_instumentlist</string>
				<string>net_sourceforge_playerpro_tracker_patternlist</string>
				<string>net_sourceforge_playerpro_tracker_totalpatterns</string>
				<string>net_sourceforge_playerpro_tracker_partitionlength</string>
				<string>net_sourceforge_playerpro_tracker_totalinstruments</string>
				<string>net_sourceforge_playerpro_tracker_totaltracks</string>
				<string>net_sourceforge_playerpro_tracker_formatdescription</string>
			</array>
			<key>displayattrs</key>
			<array>
				<string>kMDItemTitle</string>
				<string>kMDItemDurationSeconds</string>
				<string>kMDItemCodecs</string>
				<string>net_sourceforge_playerpro_tracker_partitionlength</string>
				<string>net_sourceforge_playerpro_tracker_totalpatterns</string>
				<string>net_sourceforge_playerpro_tracker_totalinstruments</string>
				<string>net_sourceforge_playerpro_tracker_totaltracks</string>
				<string>net_sourceforge_playerpro_tracker_formatdescription</string>
			</array>
		</dict>
		<key>net.sourceforge.playerpro.mad-bundle</key>
		<dict>
			<key>name</key>
			<string>net.sourceforge.playerpro.mad-bundle</string>
			<key>allattrs</key>
			<array>
				<string>kMDItemTitle</string>
				<string>kMDItemDurationSeconds</string>
				<string>kMDItemCodecs</string>
				<string>kMDItemAuthors</string>
				<string>net_sourceforge_playerpro_tracker_instumentlist</string>
				<string>net_sourceforge_playerpro_tracker_patternlist</string>
				<string>net_sourceforge_playerpro_tracker_totalpatterns</string>
				<string>net_sourceforge_playerpro_tracker_partitionlength</string>
				<string>net_sourceforge_playerpro_tracker_totalinstruments</string>
				<string>net_sourceforge_playerpro_tracker_totaltracks</string>
				<string>net_sourceforge_playerpro_tracker_formatdescription</string>
			</array>
			<key>displayattrs</key>
			<array>
				<string>kMDItemTitle</string>
				<string>kMDItemDurationSeconds</string>
				<string>kMDItemCodecs</string>
				<string>kMDItemAuthors</string>
				<string>net_sourceforge_playerpro_tracker_partitionlength</string>
				<string>net_sourceforge_playerpro_tracker_totalpatterns</string>
				<string>net_sourceforge_playerpro_tracker_totalinstruments</string>
				<string>net_sourceforge_playerpro_tracker_totaltracks</string>
			</array>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>xmlns</key>
	<string>http://www.apple.com/metadata</string>
	<key>xmlns:xsi</key>
	<string>http://www.w3.org/2001/XMLSchema-instance</string>
	<key>xsi:schemaLocation</key>
	<string>http://www.apple.com/metadata file:///System/Library/Frameworks/CoreServices.framework/Frameworks/Metadata.framework/Resources/MetadataSchema.xsd</string>
</dict>
</plist>
