<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.playerpro.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>SNPL</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFPlugInDynamicRegistration</key>
	<false/>
	<key>CFPlugInFactories</key>
	<dict>
		<key>F997DE0A-C956-4A71-9378-1420508394CC</key>
		<string>NoteTransFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>E9E5574F-50B4-43E0-948D-8B7C80D47261</key>
		<array>
			<string>F997DE0A-C956-4A71-9378-1420508394CC</string>
		</array>
	</dict>
	<key>CSResourcesFileMapped</key>
	<string>yes</string>
	<key>MADPlugMenuName</key>
	<string>Note Translate</string>
</dict>
</plist>
