<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mad</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MAD</string>
			<key>CFBundleTypeName</key>
			<string>PPMADFile</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.quadmation.playerpro.mad</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sctf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>List</string>
			<key>CFBundleTypeName</key>
			<string>Old PlayerPRO Music List</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>STCf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.quadmation.playerpro.stcfmusiclist</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mod</string>
				<string>strk</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MOD</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/mod</string>
				<string>audio/x-mod</string>
				<string>audio/module-mod</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PPMODFile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>STrk</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.playerpro.mod</string>
				<string>org.videolan.mod</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mtm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MTM</string>
			<key>CFBundleTypeName</key>
			<string>PPMTMFile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MTM </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.playerpro.mtm</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>s3m</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>S3M</string>
			<key>CFBundleTypeName</key>
			<string>PPS3MFile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>S3M </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.playerpro.s3m</string>
				<string>org.videolan.s3m</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>madi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MAD</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-mad</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PPMADIFile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MADI</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.quadmation.playerpro.madi</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>madg</string>
				<string>madf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MAD</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-mad</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PPMADFGFile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MADG</string>
				<string>MADF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.quadmation.playerpro.madfg</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>madh</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MAD</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-mad</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PPMADHFile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MADH</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.quadmation.playerpro.madh</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>madk</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MAD</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-mad</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PPMADKFile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MADK</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.quadmation.playerpro.madk</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>XM</string>
			<key>CFBundleTypeName</key>
			<string>PPXMFile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>XM  </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.playerpro.xm</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ppimpexp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ppBundle</string>
			<key>CFBundleTypeName</key>
			<string>PPImpExpBundle</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.playerpro.ppimpexp</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pplist</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>List</string>
			<key>CFBundleTypeName</key>
			<string>PlayerPRO Music List</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.playerpro.musiclist</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>it</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IT</string>
			<key>CFBundleTypeName</key>
			<string>PPITFile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IT  </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.on.users.jtlim.ImpulseTracker.it</string>
				<string>org.videolan.it</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>669</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>669</string>
			<key>CFBundleTypeName</key>
			<string>PP669File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>6669</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.playerpro.669</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>okt</string>
				<string>okta</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>OKTA</string>
			<key>CFBundleTypeName</key>
			<string>PPOKTAFile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>OKTA</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.playerpro.okta</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>med</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MED</string>
			<key>CFBundleTypeName</key>
			<string>PPMEDFile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MED </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.medsoundstudio.octamed</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>PPly</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.playerpro.tracker</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.medsoundstudio.octamed</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>med</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.playerpro.tracker</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.playerpro.dmf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dmf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Music Tracker</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.playerpro.tracker</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.playerpro.tracker</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PlayerPRO MAD tracker</string>
			<key>UTTypeIconFile</key>
			<string>MAD</string>
			<key>UTTypeIdentifier</key>
			<string>com.quadmation.playerpro.mad</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mad</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/x-mad</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.quadmation.playerpro.mad</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PlayerPRO MADK Tracker</string>
			<key>UTTypeIconFile</key>
			<string>MAD</string>
			<key>UTTypeIdentifier</key>
			<string>com.quadmation.playerpro.madk</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>MADK</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>madk</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.quadmation.playerpro.mad</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PlayerPRO MADH Tracker</string>
			<key>UTTypeIconFile</key>
			<string>MAD</string>
			<key>UTTypeIdentifier</key>
			<string>com.quadmation.playerpro.madh</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>MADH</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>madh</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.quadmation.playerpro.mad</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PlayerPRO MAD-FG Tracker</string>
			<key>UTTypeIconFile</key>
			<string>MAD</string>
			<key>UTTypeIdentifier</key>
			<string>com.quadmation.playerpro.madfg</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>MADF</string>
					<string>MADG</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>madf</string>
					<string>madg</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>com.quadmation.playerpro.mad</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PlayerPRO MADI Tracker</string>
			<key>UTTypeIconFile</key>
			<string>MAD</string>
			<key>UTTypeIdentifier</key>
			<string>com.quadmation.playerpro.madi</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>MADI</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>madi</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.bundle</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PlayerPRO Import-Export Bundle</string>
			<key>UTTypeIconFile</key>
			<string>ppBundle</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.playerpro.ppimpexp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ppimpexp</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Old PlayerPRO Music List</string>
			<key>UTTypeIconFile</key>
			<string>List</string>
			<key>UTTypeIdentifier</key>
			<string>com.quadmation.playerpro.stcfmusiclist</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>STCf</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>stcf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PlayerPRO Music List</string>
			<key>UTTypeIconFile</key>
			<string>List</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.playerpro.musiclist</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pplist</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.playerpro.tracker</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ProTracker MOD File</string>
			<key>UTTypeIconFile</key>
			<string>MOD</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.playerpro.mod</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>STrk</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>mod</string>
					<string>strk</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/mod</string>
					<string>audio/x-mod</string>
					<string>audio/module-mod</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.playerpro.tracker</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>669 Tracker</string>
			<key>UTTypeIconFile</key>
			<string>669</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.playerpro.669</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>6669</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>669</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.playerpro.tracker</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AMF Tracker</string>
			<key>UTTypeIconFile</key>
			<string>AMF</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.playerpro.amf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>AMF </string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>amf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.playerpro.tracker</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ImpulseTracker File</string>
			<key>UTTypeIconFile</key>
			<string>IT</string>
			<key>UTTypeIdentifier</key>
			<string>net.on.users.jtlim.ImpulseTracker.it</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>IT  </string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>it</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.playerpro.tracker</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MTM Tracker</string>
			<key>UTTypeIconFile</key>
			<string>MTM</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.playerpro.mtm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>MTM </string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>mtm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.playerpro.tracker</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Oktalyzer Tracker</string>
			<key>UTTypeIconFile</key>
			<string>OKTA</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.playerpro.okta</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>OKTA</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>okt</string>
					<string>okta</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.playerpro.tracker</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ScreamTracker Tracker</string>
			<key>UTTypeIconFile</key>
			<string>S3M</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.playerpro.s3m</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>S3M </string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>s3m</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.playerpro.tracker</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ULT Tracker</string>
			<key>UTTypeIconFile</key>
			<string>ULT</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.playerpro.ult</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>ULT </string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>ult</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.sourceforge.playerpro.tracker</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>FastTracker Tracker</string>
			<key>UTTypeIconFile</key>
			<string>XM</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.playerpro.xm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>XM  </string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>xm</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
