<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.playerpro.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>SNPL</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>CFPlugInDynamicRegistration</key>
	<false/>
	<key>CFPlugInFactories</key>
	<dict>
		<key>25FA16EC-75FF-4514-9C84-7202360044B9</key>
		<string>ToneGeneratorFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>79EA82AD-5A53-46AF-82A9-4A0685B4588C</key>
		<array>
			<string>25FA16EC-75FF-4514-9C84-7202360044B9</string>
		</array>
	</dict>
	<key>MADPlugMenuName</key>
	<string>Tone Generator</string>
	<key>NSPrincipalClass</key>
	<string>PPToneGeneratorController</string>
</dict>
</plist>
